@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE BODY */
body {
  background: #0B0B0F;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

/* SCROLLBAR (optional but premium feel) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #6C3BFF;
  border-radius: 10px;
}
